body {
    background: url("../images/bg.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#idOrder {
    height: 40px !important;
    /* or height of nav */
}

.container-fluid {
    margin-top: 20px;
}

#homeRow .col-12 {
    margin-bottom: 10px;
}

.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}

.typeButton {
    cursor: pointer;
}

.card {
    margin-right: 15px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.7)
}

.navbar-brand {
    margin-left: 10px;
}

.user-menu-li {
    margin-right: 100px;
}

#order-client-info {
    margin-right: 5px;
}

#add-client-col {
    padding: 30px;
}

.showBrand {
    position: absolute;
    min-width: 100px;
    margin-top: -15px;
    border-top: 0px;
    overflow: hidden;
    background-color: white;
    z-index: 550;
}

.showBrand {
    font-family: tahoma;
    padding: 5px;
    font-size: 15px;
    z-index: 550;
}

.showBrand:hover {
    color: #3d6983;
    cursor: pointer;
}

.typeButton {
    display: inline-block;
    margin: 3px;
    padding-top: 8px;
    padding-bottom: 5px;
}

#orderColBtn {
    padding: 20px;
}

#repairTabContent {
    padding-top: 20px;
    padding-bottom: 30px;
}

#orderForm,
#repairForm {
    margin-top: 20px;
}

.dropdown-menu li {
    margin-bottom: 10px;
}

.card {
    margin-top: 20px;
}

.tableCol {
    padding-bottom: 20px;
}