body {
    background: url("../images/bg.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input[type="search"] {
    height: 64px !important; /* or height of nav */
}

.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}

.typeButton {
    cursor: pointer;
}

.card {
    background: rgba(255, 255, 255, 0.3)
}

.navbar-brand {
    margin-left: 10px;
}

.user-menu-li {
    margin-right: 100px;
}

#order-client-info {
    margin-right: 5px;
}

#add-client-col {
    padding: 30px;
}

.showBrand {
    position: absolute;
    min-width: 100px;
    margin-top: -15px;
    border-top:0px;
    overflow: hidden;
    background-color: white;
    z-index: 550;
}

.showBrand{
    font-family:tahoma;
    padding:5px;
    font-size:15px;
    z-index: 550;
}

.showBrand:hover {
    color:#3d6983;
    cursor:pointer;
}

.typeButton {
    display: inline-block;
    margin: 3px;
    padding-top: 8px;
    padding-bottom: 5px;
}

#orderColBtn {
    padding: 20px;
}

#repairTabContent {
    padding-top: 20px;
    padding-bottom: 30px;
}

#orderForm, #repairForm {
    margin-top: 20px;
}

.dropdown-menu li {
    margin-bottom: 10px;
}